* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Tilt Neon", cursive;
  --header-size: 2rem;
  --text-size: 1.5rem;
  --logo-text-size: 4rem;
  --font-color: #22223b;
  --padding: 50px;
  color: var(--font-color);
}

.main {
  display: flex;
}

.left {
  width: 40vw;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
}

.text {
  font-weight: bolder;
  font-size: var(--header-size);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cdb4db;
}

.text-two {
  margin-top: 48px;
  font-size: var(--text-size);
}

.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.543);
  position: relative;
  bottom: 80vh;
  text-align: center;
  color: rgb(250, 250, 250);
  height: 200px;
  align-items: center;
  justify-content: center;
  font-size: var(--logo-text-size);
  padding: var(--padding);
  gap: 16px;
}

.odin {
  width: 120px;
  height: auto;
}

.right-first-container {
  background-color: #ffc8dd;
  padding: var(--padding);
  /* border-radius: 16px; */
}

.right-second-container {
  padding: var(--padding);
  font-size: var(--text-size);
  background-color: #ffafcc;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.8);
}

.input-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.right-third-container {
  padding: var(--padding);
  font-size: var(--text-size);
  /* background-color: #a2d2ff; */
}

button {
  background-color: rgb(244, 74, 103); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bolder;
  font-family: "Tilt Neon";
  /* box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8); */
  margin-bottom: 8px;
}

.here {
  color: rgb(244, 74, 103);
}

.text:nth-child(1) {
  margin-bottom: 8px;
}

input {
  height: 20px;
  border-color: rgba(25, 0, 255, 0.573);
  border-radius: 8px;
  background-color: #cdb4db;
}
